* {
    font-size: 13px;
}
.gtrans, .cgpt, .jjs, .sds {
    height: 25px;
    width: 66px;
    background: #81a0d5
}
.gtrans:hover, .cgpt:hover, .jjs:hover, .sds:hover {
    background:darkblue;
}


.container {
    background: yellow;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    border-radius: 3%;
}
.div1 {
    display: flex;
    background: white;
    flex-direction: column;
    height: 430px;
    width: 300px;
    margin-top: 35px ;
    margin-bottom: 35px;
    border-radius: 50px;
}
.div2 {
    height: 340px;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    font-size: 5px;
}
.title {
    text-shadow: 1px 1px black;
    text-align: center;
    justify-content: center;
}
.span1 {
    color: mediumpurple;
    font-size: 24px;
}
.span2 {
    font-size: 60px;
    color: yellow;
}
.abc {
    font-size: 26px;
}